<%- include("../partials/blogHeader") -%>
	
	<div class="row">
		<% for(var i = (blogs.length - 1); i >= 0; i--) {%>
		<div class="col-sm-6 col-lg-4 col-xl-3 blog-display-container-abstract">
			<div class="neu-flat-sbox blog-display-container">
				<div class="neu-flat-sbox blog-display-img-holder">
					<img src="<%= blogs[i].image %>" class="blog-display-img">
				</div>
				<div class="neu-flat-sbox blog-display-title-container">
					<p class="p-1 mb-0 blog-display-title-text-container">
						<%= blogs[i].title %>
					</p>
				</div>
				<div class="neu-pressed-sbox blog-display-preview-container">
					<p class="p-1 blog-display-preview-text-container">
						<%= blogs[i].preview %>
					</p>
				</div>
				<div class="blog-display-buttons-abstract-container">
					<a href="/blog/<%= blogs[i]._id %>" class="normalize-link neu-convex-box mr-auto blog-display-button normalize-link pressable-button-action">
						View
					</a>
					<% if(isAdmin){ %>
					<a href="/blog/<%= blogs[i]._id %>/edit" class="neu-convex-box mx-auto blog-display-button blog-display-button-edit normalize-link pressable-button-action">
						<i class="fas fa-hammer"></i>
					</a>
					<% } %>
					<div class="neu-convex-box ml-auto blog-display-button pressable-button-action">
						share
					</div>
				</div>
			</div>
		</div>
		<% } %>
	</div>
	




	<div class="row">
		<div class="col-sm-6 col-lg-4 col-xl-3 blog-display-container-abstract">
			<div class="neu-flat-sbox blog-display-container">
				<div class="neu-flat-sbox blog-display-img-holder">
					<img src="https://store-images.s-microsoft.com/image/apps.4881.64125392135012540.690e8de2-9f23-4b58-a55c-aeaf24185e0b.04a3af7c-808b-4008-9767-9a3fac97f24a?mode=scale&q=90&h=720&w=1280&format=jpg" class="blog-display-img">
				</div>
				<div class="neu-flat-sbox blog-display-title-container">
					<p class="p-1 mb-0 blog-display-title-text-container">
						Bring the team back!
					</p>
				</div>
				<div class="neu-pressed-sbox blog-display-preview-container">
					<p class="p-1 blog-display-preview-text-container">
						Distillery mlkshk austin, tousled salvia yuccie copper mug cloud bread viral. Cardigan franzen fashion axe four dollar toast tousled hammock key...
					</p>
				</div>
				<div class="blog-display-buttons-abstract-container">
					<a href="/blog/blogid" class="normalize-link neu-convex-box mr-auto blog-display-button normalize-link">
					
						View
					
					</a>
					<div class="neu-convex-box ml-auto blog-display-button">
						share
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		
		<div class="col-sm-6 col-lg-4 col-xl-3 blog-display-container-abstract">
			<div class="neu-flat-sbox blog-display-container">
				Test content
			</div>
		</div>
		<div class="col-sm-6 col-lg-4 col-xl-3 blog-display-container-abstract">
			<div class="neu-flat-sbox blog-display-container">
				Test content
			</div>
		</div>
		<div class="col-sm-3 blog-display-container-abstract">
			<div class="neu-flat-sbox blog-display-container">
				
				
				
			</div>
		</div>
		<div class="col-sm-3 col-md-4 blog-display-container-abstract">
			<div class="neu-flat-sbox blog-display-container">
				Test content
			</div>
		</div>
		<div class="col-sm-6 col-lg-4 col-xl-3 blog-display-container-abstract">
			<div class="neu-flat-sbox blog-display-container">
				Test content
			</div>
		</div>
		<div class="col-sm-3 blog-display-container-abstract">
			<div class="neu-flat-sbox blog-display-container">
				Test content
			</div>
		</div>
		<div class="col-sm-3 blog-display-container-abstract">
			<div class="neu-flat-sbox blog-display-container">
				Test content
			</div>
		</div>
	</div>

<%- include("../partials/blogFooter") -%>